* {
    display: block;
    margin: 10px auto;
    padding: 5px;
}

h2 {
    text-align: center;
    font-size: xx-large;
}

p {
    font-size: x-large;
    text-align: center;
}


input {
    display: inline-block;
}

label {
    display: inline-block;
}